@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Aptitud.SimpleCV.Model.Consultant>
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Simple CV</title>
		<meta name="viewport" content="width=device-width; initial-scale=1.0">
		<link href="~/Content/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>

<body>

<div id="consultant">
	<h1>Konsult</h1>
	<form action="/SaveConsultantInfo" method="post">
	    <fieldset>
	        <input type="hidden" name="Id" value="@Model.Id"/>
	        <label for="firstname">Förnamn:</label>
	        <input type="text" id="firstname" name="FirstName" value="@Model.FirstName" placeholder="Konsultens förnamn" />

	        <label for="lastname">Efternamn:</label>
	        <input type="text" id="lastname" name="LastName" value="@Model.LastName" placeholder="Konsultens efternamn" />
			
	        <label for="emailaddress">Email:</label>
	        <input type="email" id="emailaddress" name="EmailAddress" value="@Model.EmailAddress" placeholder="Konsultens email" />

	        <label for="title">Titel:</label>
	        <input type="text" id="title" name="Title" value="@Model.Title" placeholder="Konsultens titel" />
			
	        <label for="summary">Allmänt:</label>
	        <textarea id="summary" name="Summary" placeholder="Allmänt information om konsulten">@Model.Summary</textarea>
			
	        <input type="submit" value="Spara" />
			
	    </fieldset>
	</form>
</div>

</body>
</html>

