@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Aptitud.SimpleCV.Model.Consultant>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Simple CV - Editera</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="~/Content/Site.css">
</head>

<body>
<div class="content-wrapper">
  <div class="header-wrapper"><div class="header">@Model.Id</div><div class="icon"><a href='@Url.Content("~/")'><img src="~/Content/images/home-icon-48.png" title="Home" /></a></div></div>
	<form action="/SaveConsultantInfo" method="post">
			<table>
					<tr>
							<td>Förnamn:</td>
							<td><input type="text" name="FirstName" value="@Model.FirstName" /></td>
					</tr>
					<tr>
							<td>Efternamn:</td>
							<td><input type="text" name="LastName" value="@Model.LastName" /></td>
					</tr>
					<tr>
							<td>Email:</td>
							<td><input type="text" name="EmailAddress" value="@Model.EmailAddress" /></td>
					</tr>
					<tr>
							<td>Title:</td>
							<td><input type="text" name="Title" value="@Model.Title"/></td>
					</tr>
					<tr>
							<td>Allmänt:</td>
							<td><textarea name="Summary">@Model.Summary</textarea></td>
					</tr>
					<tr>
							<td>&nbsp;</td>
							<td><input type="submit" value="Spara"/></td>
					</tr>
			</table>
	</form>
</div>
</body>
</html>
