@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<List<Aptitud.SimpleCV.Model.Consultant>>
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Simple CV</title>
		<meta name="viewport" content="width=device-width; initial-scale=1.0">
		<link href="~/Content/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>

<body>

<div id="consultantList">
	<h1>Konsulter</h1>
	<div id="container">
	  <ol> 
			@foreach (var consultant in Model) {
		  <li> 
			  <p class="emailaddress">@consultant.EmailAddress</p> 
				<p class="name">@consultant.FirstName @consultant.LastName</p> 
				<p class="actions">
					<input id="edit" type="button" value="Ändra" onclick="location.href='edit/@consultant.Id'"/>
					<input id="view" type="button" value="Visa" onclick="location.href='preview/@consultant.Id'"/>
				</p>
		  </li>
			}
	  </ol>
	</div>
</div>

</body>
</html>



@*<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Simple CV</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="~/Content/Site.css">
</head>


<body>
<div class="content-wrapper">
    <div class="header-wrapper"><div class="header">Konsulter</div><div class="icon"><a href='@Url.Content("~/new/")'><img src="~/Content/images/new-icon-48.png" title="New" /></a></div></div>
		<table>
			@{ var alternate = "alternateRow";}
			@foreach (var item in Model) {
			<tr class="row @alternate">
				<td class="column ConsultantIdColumn">@item</td>
				<td class="column"><a href='@Url.Content("~/preview/" + item)'><img src="~/Content/images/preview-icon-48.png" title="View" /></a></td>
				<td class="column"><a href='@Url.Content("~/edit/" + item)'><img src="~/Content/images/edit-icon-48.png" title="Edit" /></a></td>
			</tr>  
			@{ alternate = alternate == string.Empty ? "alternateRow" : string.Empty;}
			}
	</table>
</div>
</body>
</html>*@
