@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Aptitud.SimpleCV.Model.Consultant>
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Simple CV</title>
		<meta name="viewport" content="width=device-width; initial-scale=1.0">
		<link href="~/Content/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>

<body>

<div id="consultant">
	<div id="container">
	  <ol> 
		  <li>
				<div class="header"> 
					<div class="name">@Model.FirstName @Model.LastName</div>
					<div class="title">@Model.Title</div>
				</div>
			  <p class="emailaddress">@Model.EmailAddress</p> 
				<p class="info">@Model.Summary</p> 
		  </li>
	  </ol>
		<h2>Projekt</h2>
	</div>

</div>

</body>
</html>

